<!Doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faraid Calculator</title>
    <!-- Pacifico Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/custom.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- jQuery -->
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>                                           
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-custom py-md-3" id="navbar">
      <a class="navbar-brand" href="#">Islamic Inheritance</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active py-md-2">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item py-md-2">
            <a class="nav-link" href="/faraid/male">Deceased Male</a>
          </li>
          <li class="nav-item py-md-2">
            <a class="nav-link" href="/faraid/female">Deceased Female</a>
          </li>
          <li class="nav-item py-md-2">
              <a class="nav-link" href="/quran_pg">Faraid Qur'anic Verses</a>
          </li>
          <li class="nav-item py-md-2">
              <a class="nav-link" href="/hadeeth_pg">Prophetic Faraid Quotes</a>
          </li>
          <li class="nav-item py-md-2">
              <a class="nav-link" href="/about">About App</a>
          </li>
        </ul>
      </div>
      </form>
    </nav>
  </header>
  
