<%- include('partials/layout') %>
<section class="banner"><!-- start banner -->
  <div class="banner__text-box">
      <h1 class="banner-primary">
          <span class="banner-primary--main">Islamic</span>
          <span class="banner-primary--sub">Inheritance Calculator</span>
      </h1>
  </div>
</section>
