<%- include('../partials/layout') %>
<div class="container body">
    <div class="main_container">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
              <div class="x_title">
                <h1>About Faraid App</h1>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
        
                <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="jumbotron">
                        <p class="secondary_text">This App is developed in compliance with Islamic Inheritance laws as agreed upon by Islamic scholars. Having considered 'Islamic Shariah' for all possible combinations of relatives of dead person, the system was modelled and developed which provides the knowledge of Islamic inheritance and distributes the wealth of the deceased accurately through which user can be galvanized to follow. It is recommended to use this proposed Faraid system as an expert assistant for distribution of deceased person's person's wealth among his/her eligible relatives.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
          </div>
        </div>
    </div>
</body>
</html>