<%- include('../partials/layout') %>
<div class="container body">
    <div class="main_container">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
              <div class="x_title">
                <h1 style="color: green;">Sucess Page</h1>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
        
                <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="jumbotron">
                        <p class="secondary_text">Your feedback has been successfully delivered. We'll read it and take note of your observations.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
          </div>
    </div>
</div>
</body>
</html>