<%- include('../partials/layout') %>
<div class="container body">
    <div class="main_container">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
              <div class="x_title">
                <h1 style="color: red;">Error Page</h1>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
        
                <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="jumbotron">
                        <p class="secondary_text">Error sending your email. The server wasn't able to process the message correctly. Probably there was timeout while processing the message.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
          </div>
    </div>
</div>
</body>
</html>