<%- include('../partials/layout') %>
<div class="container body">
    <div class="main_container">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
              <div class="x_title">
                <h1>Qur'anic Verses on Faraid</h1>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
        
                <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="jumbotron">
                        <h1>Suratun-Nisaa', Verse 11</h1>
                        <img class="img-fluid" id="verse" src="/images/4_11.png" alt="verse 11, Suratun-Nisaa">
                        <p class="secondary_text">Allah instructs you concerning your children: for the male, what is equal to the share of two females. But if there are [only] daughters, two or more, for them is two thirds of one's estate. And if there is only one, for her is half. And for one's parents, to each one of them is a sixth of his estate if he left children. But if he had no children and the parents [alone] inherit from him, then for his mother is one third. And if he had brothers [or sisters], for his mother is a sixth, after any bequest he [may have] made or debt. Your parents or your children - you know not which of them are nearest to you in benefit. [These shares are] an obligation [imposed] by Allah. Indeed, Allah is ever Knowing and Wise.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bs-example" data-example-id="simple-jumbotron">
                  <div class="jumbotron">
                      <h1>Suratun-Nisaa', Verse 12</h1>
                      <img class="img-fluid" id="verse" src="/images/4_12.png" alt="verse 12, Suratun-Nisaa">
                      <p class="secondary_text">And for you is half of what your wives leave if they have no child. But if they have a child, for you is one fourth of what they leave, after any bequest they [may have] made or debt. And for the wives is one fourth if you leave no child. But if you leave a child, then for them is an eighth of what you leave, after any bequest you [may have] made or debt. And if a man or woman leaves neither ascendants nor descendants but has a brother or a sister, then for each one of them is a sixth. But if they are more than two, they share a third, after any bequest which was made or debt, as long as there is no detriment [caused]. [This is] an ordinance from Allah , and Allah is Knowing and Forbearing.</p>
                  </div>
                  <div class="clearfix"></div>
              </div>
            </div>
          </div>
    </div>
</div>
</body>
</html>