<%- include('../partials/layout') %>
<div class="container body">
    <div class="main_container">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
              <div class="x_title">
                <h1>Qur'anic Verses on Faraid</h1>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
        
                <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="jumbotron">
                        <h1>Suratun-Nisaa', Verse 12</h1>
                        <img class="img-fluid" id="verse" src="/images/4_12.png" alt="verse 12, Suratun-Nisaa">
                        <p class="secondary_text">And for you is half of what your wives leave if they have no child. But if they have a child, for you is one fourth of what they leave, after any bequest they [may have] made or debt. And for the wives is one fourth if you leave no child. But if you leave a child, then for them is an eighth of what you leave, after any bequest you [may have] made or debt. And if a man or woman leaves neither ascendants nor descendants but has a brother or a sister, then for each one of them is a sixth. But if they are more than two, they share a third, after any bequest which was made or debt, as long as there is no detriment [caused]. [This is] an ordinance from Allah , and Allah is Knowing and Forbearing.</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="jumbotron">
                        <h1>Suratun-Nisaa', Verse 12</h1>
                        <img class="img-fluid" id="verse" src="/images/4_12.png" alt="verse 12, Suratun-Nisaa">
                        <p class="secondary_text">And for you is half of what your wives leave if they have no child. But if they have a child, for you is one fourth of what they leave, after any bequest they [may have] made or debt. And for the wives is one fourth if you leave no child. But if you leave a child, then for them is an eighth of what you leave, after any bequest you [may have] made or debt. And if a man or woman leaves neither ascendants nor descendants but has a brother or a sister, then for each one of them is a sixth. But if they are more than two, they share a third, after any bequest which was made or debt, as long as there is no detriment [caused]. [This is] an ordinance from Allah , and Allah is Knowing and Forbearing.</p>
                    </div>
                </div>
        
              </div>
            </div>
          </div>
    </div>
</div>
</body>
</html>